spring:
  application:
    name: order-service
  config:
    import: optional:configserver:http://localhost:8888
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

queue:
  notification:
    exchange: notification-exchange
    routing-key: notification-routing-key